@if (blog$ | async; as blog) {
  @if (blog) {
    <div class="markdown-container">
      <div class="flex justify-between items-center mb-4">
        <a routerLink="/blog-list" class="inline-flex items-center text-gray-600 hover:text-gray-800">
          <i class="fa fa-arrow-left mr-2"></i>
          返回博客列表
        </a>
        <div>
          @if (blog.id > 1) {
            <a
              routerLink="/blog-list/{{ blog.id - 1 }}"
              class="inline-flex items-center text-blue-500 hover:text-blue-700  mr-5"
            >
              <i class="fa fa-arrow-left mr-1"></i>
              上一篇
            </a>
          } @else {
            <span class="text-gray-500 italic mr-5">
            <i class="fa fa-arrow-left mr-2"></i>
            没有上一篇了
          </span>
          }

          @if (blog.id < 10) {
            <a
              routerLink="/blog-list/{{ blog.id + 1 }}"
              class="inline-flex items-center text-blue-500 hover:text-blue-700"
            >
              下一篇
              <i class="fa fa-arrow-right ml-2"></i>
            </a>
          } @else {
            <span class="text-gray-500 italic">
            没有下一篇了
            <i class="fa fa-arrow-right ml-2"></i>
          </span>
          }
        </div>
      </div>
      <markdown class="markdown-body" [src]="'assets/' + blog.src" />
    </div>
  }
} @else {
  <div class="italic h-[100vh] grid items-center justify-center">
    <p class="text-xl font-medium inline-flex items-center">
      <a href="" routerLink="/blog-list">
        <i class="fa fa-arrow-left mr-5"></i>
      </a>
      <span>Blog not found</span>
    </p>
  </div>
}
